<!DOCTYPE html>

<head>
   <title>My First Page</title>
   <link rel="stylesheet" href="/static/style.css">
</head>
<body style="width: 880px; margin: auto;">
    <h4 >Done by: Salima </h4>
    <h3 aligne = "left"><font size="3" face="georgia" color="red" > Home Page </font> </h3>
    <h1 ><img src="/static/image2.jpg" width="70" height="60" > <font  face="georgia" >ONE MILLION ARAB CODERS </font></h1>
    <p  align = "center"><font size="3" face="georgia" color="blue"><a href="#">MEMBERS </a> --  Profile </font></p>
    <HR color="purple" size=4 width="100%" >
    <h5  align = "right" ><a href="/topic/add" ><font size="3" face="georgia" color="blue"> Create New Topic  Profile </font> </a></h5>

     <style>
     table {
    border-collapse: collapse;
    width: 100%;
    }

    th, td {
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2}
    th {
    background-color: #4CAF50;
    color: white;
   }
    </style>

    <table>
   <tr>
       <th><font size="4">Title</font></th>
       <th><font size="4">Edit</font></th>
       <th><font size="4">Delete</font></th>
   </tr>
   {% for post in posts %}
   <tr>
       <td>{{post.title}}</td>
       <td>
            <a href="#">edit</a>
        </td>
       <td>
            <a href="#">delete</a>
        </td>
   </tr>
        {% endfor %}
</table>
<h4 >Done by: Salima </h4>
</body>
