<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Topic Show</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="input-form">
   {% block content %}
        <form action="{{url_for('topic_show', id=post.id)}}" method="POST">
            <input type="text" name="title" value="{{post.title}}">
            <input type="text" name="content" value="{{post.topic}}">

            <input type="submit" value="Go Back">
        </form>
    {% endblock %}
</div>

</body>
</html>